In [1]:
import os
from process_data import get_germline_sequence, \
                         get_anarci_numbering, \
                         get_heavy_sequence, \
                         load_raw_affinity_data, \
                         get_positions_mutated_from_germline, \
                         get_mutated_germline_vs_somatic_residues

In [2]:
ab = "9114"  # 6261 | 9114

In [3]:
get_germline_sequence(ab)

'QVQLVQSGAEVKKPGSSVKVSCKASGGTFSSYAISWVRQAPGQGLEWMGGIIPIFGTANYAQKFQGRVTITADKSTSTAYMELSSLRSEDTAVYYCARHGNYYYYYGMDVWGQGTTVTVSS'

In [4]:
get_heavy_sequence(ab)

'QVQLVQSGAEVKKPGSSVKVSCKSSGGTSNNYAISWVRQAPGQGLDWMGGISPIFGSTAYAQKFQGRVTISADIFSNTAYMELNSLTSEDTAVYFCARHGNYYYYSGMDVWGQGTTVTVSS'

In [5]:
len(get_positions_mutated_from_germline(ab, ignore_same_residues_as_paper=True))

16

In [6]:
germ, som = get_mutated_germline_vs_somatic_residues(ab)
print(*zip(germ, som))

('F', 'S') ('S', 'N') ('S', 'N') ('I', 'S') ('T', 'S') ('A', 'T') ('N', 'A') ('T', 'S') ('K', 'I') ('S', 'F') ('T', 'S') ('S', 'N') ('S', 'N') ('R', 'T') ('Y', 'F') ('Y', 'S')

In [7]:
load_raw_affinity_data(ab)

,variant,repa_x,repb_x,repc_x,h1_mean,h1_sem,repa_y,repb_y,repc_y,h3_mean,...,pos8,pos9,pos10,pos11,pos12,pos13,pos14,pos15,pos16,som_mut
0,1001110010000101,9.502127,9.499467,9.452164,9.484586,0.011476,6.000000,6.000000,6.000000,6.000000,...,0,1,0,0,0,0,1,0,1,7
1,0001111110011011,9.526711,9.446817,9.319445,9.430991,0.042677,6.000000,6.000000,6.000000,6.000000,...,1,1,0,0,1,1,0,1,1,10
2,1111110010011111,9.522475,9.556415,9.412129,9.497006,0.030798,6.719267,6.789486,6.699885,6.736213,...,0,1,0,0,1,1,1,1,1,12
3,1011111110101110,9.520731,9.557455,9.420888,9.499691,0.028852,6.000000,6.000000,6.000000,6.000000,...,1,1,0,1,0,1,1,1,0,12
4,1111101010000111,9.346955,9.398311,9.396946,9.380737,0.011947,6.000000,6.000000,6.000000,6.000000,...,0,1,0,0,0,0,1,1,1,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65531,0000100010110100,NaN,NaN,NaN,NaN,NaN,6.000000,6.000000,NaN,6.000000,...,0,1,0,1,1,0,1,0,0,5
65532,0010100000110110,NaN,NaN,NaN,NaN,NaN,6.000000,6.000000,NaN,6.000000,...,0,0,0,1,1,0,1,1,0,6
65533,0010100010111000,NaN,NaN,NaN,NaN,NaN,6.000000,6.000000,6.000000,6.000000,...,0,1,0,1,1,1,0,0,0,6
65534,0010100110001000,NaN,NaN,NaN,NaN,NaN,6.000000,6.000000,6.000000,6.000000,...,1,1,0,0,0,1,0,0,0,5
65535,0010100111000110,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,6.000000,6.000000,...,1,1,1,0,0,0,1,1,0,7