In [1]:
import os
from process_data import get_germline_sequence, \
                         get_heavy_sequence, \
                         load_raw_affinity_data

In [2]:
ab = "6261"  # 6261 | 9114

In [3]:
get_germline_sequence()

'QVQLVQSGAEVKKPGSSVKVSCKASGGTFSSYAISWVRQAPGQGLEWMGGIIPIFGTANYAQKFQGRVTITADKSTSTAYMELSSLRSEDTAVYYCARHGNYYYYYGMDVWGQGTTVTVSS'

In [4]:
get_heavy_sequence(ab)

'EVQLVESGAEVKKPGSSVKVSCKASGGPFRSYAISWVRQAPGQGPEWMGGIIPIFGTTKYAPKFQGRVTITADDFAGTVYMELSSLRSEDTAMYYCAKHMGYQVRETMDVWGKGTTVTVSS'

In [5]:
load_raw_affinity_data(ab)

,variant,repa,repb,repc,h1_mean,h1_sem,repx,repy,repz,h9_mean,...,pos3,pos4,pos5,pos6,pos7,pos8,pos9,pos10,pos11,som_mut
0,01010100111,9.430292,9.471053,9.432669,9.444671,0.009340,9.624192,9.635040,9.680783,9.646672,...,0,1,0,1,0,0,1,1,1,6
1,01011110011,9.404493,9.442880,9.440280,9.429218,0.008758,9.365004,9.401993,9.445685,9.404227,...,0,1,1,1,1,0,0,1,1,7
2,01010100101,9.064914,9.184359,9.047794,9.099022,0.030373,9.217001,9.208676,9.341691,9.255789,...,0,1,0,1,0,0,1,0,1,5
3,01000100110,9.320260,9.346942,9.301644,9.322949,0.009295,9.652131,9.586889,9.681692,9.640237,...,0,0,0,1,0,0,1,1,0,4
4,01001100010,8.449593,8.846446,8.540014,8.612018,0.084913,9.171154,9.169093,9.326549,9.222265,...,0,0,1,1,0,0,0,1,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1912,01100001000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.000000,7.000000,...,1,0,0,0,0,1,0,0,0,3
1913,01101010000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.000000,7.000000,...,1,0,1,0,1,0,0,0,0,4
1914,00101110101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.000000,7.000000,...,1,0,1,1,1,0,1,0,1,6
1915,00111010000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.000000,7.000000,...,1,1,1,0,1,0,0,0,0,4
1916,10001010001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.000000,7.000000,...,0,0,1,0,1,0,0,0,1,4